.git
.gitignore
.env.local
.env.*.local
node_modules/
vendor/
var/cache/*
var/log/*
public/build/
public/uploads/*
tests/
.idea/
.vscode/
.scannerwork
.snyk
.venv
sonar-project.properties
diagrammes/
images/