CREATE TABLE speciality (id INT AUTO_INCREMENT NOT NULL, nom VARCHAR(255) NOT NULL, description LONGTEXT DEFAULT NULL, UNIQUE INDEX UNIQ_F3D7A08E6C6E55B5 (nom), PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
ALTER TABLE users CHANGE roles roles JSON NOT NULL;
ALTER TABLE consultation CHANGE diagnostic diagnostic VARCHAR(100) DEFAULT NULL;
ALTER TABLE dossier_medical CHANGE groupe_sanguin groupe_sanguin VARCHAR(20) DEFAULT NULL;
ALTER TABLE medecin ADD specialite_id INT DEFAULT NULL, DROP specialite, CHANGE diplome diplome VARCHAR(255) DEFAULT NULL;
ALTER TABLE medecin ADD CONSTRAINT FK_1BDA53C62195E0F0 FOREIGN KEY (specialite_id) REFERENCES speciality (id);
CREATE INDEX IDX_1BDA53C62195E0F0 ON medecin (specialite_id);
ALTER TABLE rendez_vous CHANGE updated_at updated_at DATETIME DEFAULT NULL COMMENT '(DC2Type:datetime_immutable)';
ALTER TABLE messenger_messages CHANGE delivered_at delivered_at DATETIME DEFAULT NULL;
