CREATE TABLE messenger_messages (id BIGINT AUTO_INCREMENT NOT NULL, body LONGTEXT NOT NULL, headers LONGTEXT NOT NULL, queue_name VARCHAR(190) NOT NULL, created_at DATETIME NOT NULL, available_at DATETIME NOT NULL, delivered_at DATETIME DEFAULT NULL, INDEX IDX_75EA56E0FB7336F0 (queue_name), INDEX IDX_75EA56E0E3BD61CE (available_at), INDEX IDX_75EA56E016BA31DB (delivered_at), PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
ALTER TABLE patient ADD CONSTRAINT FK_1ADAD7EBBF396750 FOREIGN KEY (id) REFERENCES users (id) ON DELETE CASCADE;
ALTER TABLE users CHANGE roles roles JSON NOT NULL;
ALTER TABLE rendez_vous CHANGE updated_at updated_at DATETIME DEFAULT NULL COMMENT '(DC2Type:datetime_immutable)';
ALTER TABLE rendez_vous ADD CONSTRAINT FK_65E8AA0A6B899279 FOREIGN KEY (patient_id) REFERENCES patient (id);
ALTER TABLE rendez_vous ADD CONSTRAINT FK_65E8AA0A4F31A84 FOREIGN KEY (medecin_id) REFERENCES medecin (id);
ALTER TABLE disponibilite ADD CONSTRAINT FK_2CBACE2F4F31A84 FOREIGN KEY (medecin_id) REFERENCES medecin (id);
ALTER TABLE administrateur ADD CONSTRAINT FK_32EB52E8BF396750 FOREIGN KEY (id) REFERENCES users (id) ON DELETE CASCADE;
ALTER TABLE consultation DROP FOREIGN KEY FK_CONSULTATION_DOSSIER;
DROP INDEX IDX_CONSULTATION_DOSSIER ON consultation;
ALTER TABLE consultation CHANGE motif motif LONGTEXT NOT NULL, CHANGE dossier_id dossier_medical_id INT NOT NULL;
ALTER TABLE consultation ADD CONSTRAINT FK_964685A67750B79F FOREIGN KEY (dossier_medical_id) REFERENCES dossier_medical (id);
CREATE INDEX IDX_964685A67750B79F ON consultation (dossier_medical_id);
ALTER TABLE consultation RENAME INDEX idx_consultation_medecin TO IDX_964685A64F31A84;
ALTER TABLE consultation RENAME INDEX uniq_consultation_rendez_vous TO UNIQ_964685A691EF7EAA;
ALTER TABLE dossier_medical DROP antecedents, DROP allergies, DROP traitements, DROP commentaires, DROP groupe_sanguin, DROP date_modification, CHANGE date_creation date_creation DATETIME NOT NULL COMMENT '(DC2Type:datetime_immutable)';
ALTER TABLE dossier_medical ADD CONSTRAINT FK_3581EE626B899279 FOREIGN KEY (patient_id) REFERENCES patient (id);
ALTER TABLE medecin CHANGE diplome diplome VARCHAR(255) DEFAULT NULL;
ALTER TABLE medecin ADD CONSTRAINT FK_1BDA53C62195E0F0 FOREIGN KEY (specialite_id) REFERENCES speciality (id);
ALTER TABLE medecin ADD CONSTRAINT FK_1BDA53C6BF396750 FOREIGN KEY (id) REFERENCES users (id) ON DELETE CASCADE;
ALTER TABLE ordonnance ADD created_at DATETIME NOT NULL COMMENT '(DC2Type:datetime_immutable)', DROP date, DROP est_valide;
ALTER TABLE ordonnance ADD CONSTRAINT FK_924B326C62FF6CDF FOREIGN KEY (consultation_id) REFERENCES consultation (id);
