CREATE TABLE messenger_messages (id BIGINT AUTO_INCREMENT NOT NULL, body LONGTEXT NOT NULL, headers LONGTEXT NOT NULL, queue_name VARCHAR(190) NOT NULL, created_at DATETIME NOT NULL, available_at DATETIME NOT NULL, delivered_at DATETIME DEFAULT NULL, INDEX IDX_75EA56E0FB7336F0 (queue_name), INDEX IDX_75EA56E0E3BD61CE (available_at), INDEX IDX_75EA56E016BA31DB (delivered_at), PRIMARY KEY(id)) DEFAULT CHARACTER SET utf8mb4 COLLATE `utf8mb4_unicode_ci` ENGINE = InnoDB;
ALTER TABLE disponibilite ADD CONSTRAINT FK_2CBACE2F4F31A84 FOREIGN KEY (medecin_id) REFERENCES medecin (id);
ALTER TABLE rendez_vous CHANGE updated_at updated_at DATETIME DEFAULT NULL COMMENT '(DC2Type:datetime_immutable)';
ALTER TABLE rendez_vous ADD CONSTRAINT FK_65E8AA0A6B899279 FOREIGN KEY (patient_id) REFERENCES patient (id);
ALTER TABLE rendez_vous ADD CONSTRAINT FK_65E8AA0A4F31A84 FOREIGN KEY (medecin_id) REFERENCES medecin (id);
ALTER TABLE administrateur ADD CONSTRAINT FK_32EB52E8BF396750 FOREIGN KEY (id) REFERENCES users (id) ON DELETE CASCADE;
ALTER TABLE users CHANGE roles roles JSON NOT NULL;
DROP INDEX IDX_964685A67750B79F ON consultation;
ALTER TABLE consultation ADD dossier_id INT NOT NULL, ADD medecin_id INT NOT NULL, ADD motif VARCHAR(255) NOT NULL, ADD observations LONGTEXT DEFAULT NULL, DROP dossier_medical_id, DROP duree, DROP type, CHANGE rendez_vous_id rendez_vous_id INT DEFAULT NULL, CHANGE diagnostic diagnostic LONGTEXT NOT NULL, CHANGE date_consultation date DATETIME NOT NULL, CHANGE notes traitement LONGTEXT DEFAULT NULL;
ALTER TABLE consultation ADD CONSTRAINT FK_964685A6611C0C56 FOREIGN KEY (dossier_id) REFERENCES dossier_medical (id);
ALTER TABLE consultation ADD CONSTRAINT FK_964685A64F31A84 FOREIGN KEY (medecin_id) REFERENCES medecin (id);
ALTER TABLE consultation ADD CONSTRAINT FK_964685A691EF7EAA FOREIGN KEY (rendez_vous_id) REFERENCES rendez_vous (id);
CREATE INDEX IDX_964685A6611C0C56 ON consultation (dossier_id);
CREATE INDEX IDX_964685A64F31A84 ON consultation (medecin_id);
ALTER TABLE dossier_medical DROP antecedents, DROP allergies, DROP traitements, DROP commentaires, DROP groupe_sanguin, DROP date_modification;
ALTER TABLE dossier_medical ADD CONSTRAINT FK_3581EE626B899279 FOREIGN KEY (patient_id) REFERENCES patient (id);
ALTER TABLE medecin CHANGE diplome diplome VARCHAR(255) DEFAULT NULL;
ALTER TABLE medecin ADD CONSTRAINT FK_1BDA53C62195E0F0 FOREIGN KEY (specialite_id) REFERENCES speciality (id);
ALTER TABLE medecin ADD CONSTRAINT FK_1BDA53C6BF396750 FOREIGN KEY (id) REFERENCES users (id) ON DELETE CASCADE;
ALTER TABLE ordonnance ADD CONSTRAINT FK_924B326C62FF6CDF FOREIGN KEY (consultation_id) REFERENCES consultation (id);
ALTER TABLE patient ADD CONSTRAINT FK_1ADAD7EBBF396750 FOREIGN KEY (id) REFERENCES users (id) ON DELETE CASCADE;
